@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.App{
  background-color: #f4f4f4;
  height: 100vh;
}

.container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
  padding: 20px 10%;
}

.App-header {
  background-color: #16abf8;
  min-height: 8vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 10%;
  font-weight: 700;
  align-items: center;
  line-height: 60px;
}

.image-div {
  flex-basis: 80%;
}

.list-activities{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 1em;
}

button {
  background-color: #16abf8;
  border-style: none;
  color: white;
  border-radius: 45px;
  font-size: large;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
